
@import url("./front.css");

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none;
  border:none;
  text-decoration: none;
  text-transform: capitalize;
}

body{
  padding:20px;

  width: 100%;
  height: 100%;

  min-height: 100vh;
  background: url(../assets/images/wallpaper.png) center / cover;

  justify-content: center;
  align-items: center;
}

.flex-container {
  background-color: #fff5;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  border-radius: 16px;

  display: flex;
  width: 1200px; /* 设置固定宽度为800像素 */
  min-height: 500px; /* 设置最小高度为300像素，高度可以根据内容自动增长 */
  margin: 60px auto;
  align-items: flex-start;
  gap: 20px;
}


#dynamicSection {
  position: relative;
  flex: 0 0 40%;
  /* 省略其他样式 */
}

#main-video-container {
  position: relative;
  flex: 0 0 60%;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
  background-color: #fffb; /* 切为半透明 */
  padding: 10px;
  margin-top: 10px; /* 向下移动20像素 */

  height: 487px; /* 设置高度为200像素 */
  overflow: hidden; /* 将超出容器部分隐藏 */
}


.main-vid-title {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px; /* 调整字体大小为适当的值 */
  font-weight: bold; /* 使用粗体字体样式 */
  color: #444;
}

.button-container {
  position: absolute;
  top: -50px;
  right: 0;
  margin: 20px;
}

.button-container .icon-contents,
.button-container .icon-CLI {
  width: 50px !important;
  height: 24px !important;
}


.flex-container .flex-item .main-video {
  margin-bottom: 7px;
  border-radius: 5px;
  width: 100%;

  margin-top:30px; /* 向下移动20像素 */

}

.main-vid-text {
  font-size: 15px;
  line-height: 1.4;
  color: #444;
  word-wrap: break-word; /* 自动换行 */
  white-space: pre-wrap; /* 保留换行符和空白符 */
  margin-top: -5px; /* 向下移动20像素 */
  overflow-y: auto; /* 启用垂直滚动条，只有在内容溢出时才会显示滚动条 */
  scrollbar-width: none; /* 隐藏Firefox等浏览器的滚动条 */
  -ms-overflow-style: none; /* 隐藏IE浏览器的滚动条（针对Edge版本79以下）*/
}

.main-vid-text::-webkit-scrollbar {
  display: none; /* 隐藏WebKit内核浏览器的滚动条（如Chrome和Safari） */
}


.flex-container .flex-item  .video-list-container{

  width: 450px; /* 设置固定宽度为800像素 */

  flex:1 1 350px;
  height: 487px;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  background-color: #fffb;/*切为半透明*/
  padding:15px;
  scrollbar-width: none; /* 隐藏Firefox等浏览器的滚动条 */
  -ms-overflow-style: none; /* 隐藏IE浏览器的滚动条（针对Edge版本79以下）*/

  position: relative;
  margin-top: 10px; /* 向下移动20像素 */


}

.flex-container .flex-item .video-list-container::-webkit-scrollbar {
  display: none; /* 隐藏WebKit内核浏览器的滚动条（如Chrome和Safari） */
}

.page2{
  flex: 1 1 350px;

  width: 450px; /* 设置固定宽度为450像素 */
  height: 487px;

  overflow-y: scroll;
  background-color: #fff5;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  padding: 15px;
  display: flex;
  flex-direction: column;


  scrollbar-width: none; /* 隐藏Firefox等浏览器的滚动条 */
  -ms-overflow-style: none; /* 隐藏IE浏览器的滚动条（针对Edge版本79以下）*/

  position: relative;

  margin-top: 10px; /* 向下移动20像素 */

  overflow: hidden;

}

.page2::-webkit-scrollbar {
  display: none; /* 隐藏WebKit内核浏览器的滚动条（如Chrome和Safari） */
}

.loading-gif{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  border-radius: 16px;

  overflow: hidden;
}

.loading-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px; /* 设置按钮宽度 */
  height: 50px; /* 设置按钮高度 */
  border-radius: 50%; /* 将按钮设置为圆形 */
  background-color: #304056; /* 红色背景 */
  color: #d9e4ed; /* 白色文本 */
  border: 2px solid #304056; /* 设置边框宽度为 2 像素，颜色为红色（#FF0000） */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 水平偏移为 0，垂直偏移为 2px，模糊半径为 4px，阴影颜色为淡黑色 */
  font-size: 16px; /* 设置按钮文本字号 */
  cursor: pointer; /* 设置光标为手型，表示可以点击 */
  outline: none; /* 去除按钮的聚焦边框 */

  display: flex;
  justify-content: center;
  align-items: center;

  top: 20px; /* 向下移动 20 像素 */
}

.loading-button:hover {
  background-color: #95c682; /* 红色背景 */
  color: #303f56; /* 白色文本 */
  border: 2px solid #94c482; /* 设置边框宽度为 2 像素，颜色为红色（#FF0000） */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 水平偏移为 0，垂直偏移为 2px，模糊半径为 4px，阴影颜色为淡黑色 */
}

.page2 iframe{
  flex: 1;
  width: 100%;
  height: 100%;
  border: none;
}

.page2 button{
  flex: none;
  margin-top: 10px;
}

.flex-container .flex-item  .video-list-container::-webkit-scrollbar{
  width: 10px;
}

.flex-container .flex-item  .video-list-container::-webkit-scrollbar-track{
  background-color: #fff;
  border-radius: 5px;
}

.flex-container .flex-item  .video-list-container::-webkit-scrollbar-thumb{
  background-color: #444;
  border-radius: 5px;
}

.flex-container .flex-item .list{
  display: flex;
  align-items: center;
  gap:15px;
  padding:10px;
  background-color: rgba(238, 238, 238, 0.7);
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.flex-container .flex-item .list:last-child{
  margin-bottom: 0;
}

.flex-container .flex-item .list.active{
  background-color: rgba(48, 64, 86, 0.7);
}

.flex-container .flex-item .list.active .list-title{
  color:#fff;
}

.flex-container .flex-item .list .list-video{
  width: 100px;
  border-radius: 5px;
}

.flex-container .flex-item .list .list-title{
  font-size: 17px;
  color:#444;
}
